html {
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}

.site-container {
  width: 960px;
  margin: auto;
}

/* Header */

.black-background {
    background-color: black;
}

#top {
  display: flex;
  align-items: center;
}

#top .logo {
  height: 1.5rem;
  overflow: hidden;
  display: flex;
}

#top .logo img {
  max-height: 100%;
  width: auto;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

#top .title {
  padding: 0.66rem 0;
}

.background {
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 25rem;
}

#news {
  font-weight: bold;
  width: 20rem;
  background-color: black;
  top: 9rem;
  padding: 2rem 3rem;
  position: relative;
}

#news h1 {
  font-size: 2rem;
  padding-top: 0.25rem;
}

nav {
  background-color: firebrick;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.mobile {
  display: none;
}

/* Main container */

.main {
  margin-top: 3rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.products {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.product {
  border: 4px solid black;
  border-bottom: 0;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product .image {
  max-width: 100%;
  height: 9rem;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
}

.product .image img {
  max-width: 8rem;
}

.product .description {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
}

.product .description p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.store {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
}

.store .info {
  width: 35%;
  display: flex;
  flex-direction: column;
}

.store .info .a {
  background-color: black;
}

.store .info .a p {
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.store .info .b {
  color: black;
  padding: 2px 2px;
}

/* Footer */

footer {
  height: 5rem;
  background-color: black;
  display: flex;
}

footer p {
  text-align: left;
}

/* Media queries */

@media only screen and (max-width: 1024px) {

ul.site-container {
  display: none;
} /* full navigation bar hidden */

  .mobile {
    display: flex;
    justify-content: center;
  }


  .product {
    width: 47%;
  }

  .store .info {
    width: 35%;
  }

  #glasses {
    display: none;
  }

}

@media only screen and (max-width: 470px) {

}
